body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.shadow-box {
    box-shadow: 5px 10px 10px rgb(201, 201, 201);
}

.big-name {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

i {
    vertical-align: 0.25em;
}

.nav-link:hover {
    font-weight: bolder;
}